.header {
  text-align: center;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 275px;
  font-family: Futura;
  color: white;
  border-color: white;
}

.name {
	font-size: 45px;
	padding-bottom: 30px;
}

.phrase {
	font-size: 30px;
}