.header {
  text-align: center;
  width: 100%;
  height: 400px;
  padding-top: 250px;
  font-family: Futura;
  color: white;
  border-color: white;
  background: url("temp.png");
}

.name {
	font-size: 45px;
	padding-bottom: 30px;
}

.phrase {
	font-size: 30px;
	padding-bottom: 30px;
}

#pageNavArrow:hover {
  color: rgb(66, 103, 178)!important;
}

@media screen and (max-width: 500px){
  .name {
    font-size: 30px;
  }
  .phrase {
    font-size: 20px;
  }
}