.lowerContent {
  margin: 10px 30px;
  padding-top: 75px;
}

.lowerContent > .imageContainer {
  width: 40%;
  float: left;
}

.lowerContent > .stepContainer {
  width: 50%;
  float: right;
}

ul {
  margin-top: 5px;
}

@media screen and (max-width: 760px) {
  .lowerContent > .stepContainer {
    width: 100%;
    float: right;
  }

  .lowerContent > .imageContainer {
    display: none;
  }
}
