.lowerContent {
  margin: 10px 30px;
  padding-top: 75px;
}

.lowerContent > .imageContainer {
  width: 48%;
  float: left;
  align-self: center;
  align-content: center;
  padding-top: 21px;
  min-width: 0px;
}

.lowerContent > .stepContainer {
  width: 50%;
  float: right;
}

ul {
  margin-top: 5px;
}

@media all and (max-width: 760px) {
  .lowerContent > .stepContainer {
    width: 100%;
    float: right;
  }

  .lowerContent > .imageContainer {
    display: none;
  }

  .lowerContent {
    padding-top: 10px;
  }
}
