<<<<<<< HEAD
.stepTitle {
  font-size: 13pt;
  color: #444;
  font-weight: bold;
}
=======
.previous {

}

.forward {
	background-color: rgb(65, 86, 161)!important;
}
>>>>>>> ace8ed72d06ff9eb1a8c0242cb2417fbf7a5c11c
